:root {
    --white:         hsl(0, 0%, 100%);
    --stoneLight:    hsl(30, 54%, 90%);
    --stoneMiddle:   hsl(30, 18%, 87%);
    --stoneDark:     hsl(30, 10%, 34%);
    --stoneVeryDark: hsl(24, 5%, 18%);
    --brownDark:     hsl(14, 45%, 36%);
    --pinkDark:      hsl(332, 51%, 32%);
    --pinkLight:     hsl(330, 100%, 98%);
}

@font-face {
    font-family: youngSerif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: outfit;
    src: url(../assets/fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: outfitBold;
    src: url(../assets/fonts/outfit/static/Outfit-Bold.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--stoneLight);
    font-family: outfit;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 750px;
    background-color: var(--white);
    border-radius: 15px;
}

#omelette {
    width: 675px;
    height: auto;
    border-radius: 15px;
    margin-top: 2rem;
}

.header {
    align-self: center;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

h1 {
    font-family: youngSerif;
    font-size: 35px;
    letter-spacing: 0.1rem;
}

.pinkList {
    background-color: var(--pinkLight);
    line-height: 2.225rem;
    border-radius: 7.5px;
}

.pinkList ul {
    margin-left: 2.5rem;
}

h3 {
    color: var(--pinkDark);
    margin-left: 2.5rem;
}

h2 {
    font-family: youngSerif;
    color: var(--brownDark);
    letter-spacing: 0.1rem;
}

strong {
    font-weight: bold;
}

.ingredients {
    line-height: 2.225rem;
}

.ingredients ul {
    transform: translateX(-3%);
}

.instructions {
    line-height: 1.6rem;
}

.instructions li {
    margin-bottom: 0.7rem;
}

.instructions ol {
    transform: translateX(-3%);
}

.stats {
    display: flex;
    flex-direction: row;
}

.info {
    transform: translateX(7.5rem);
}

.quantity {
    text-align: left !important;
    transform: translateX(20rem);
    color: var(--brownDark);
    font-weight: bold;
}

#grams {
    transform: translateX(22.2rem);
}

#protein {
    transform: translateX(20.5rem);
}

#carbs {
    transform: translateX(21rem);
}

.nutrition {
    margin-bottom: 2rem;
}

.line {
    width: 100%;
}

.attribution {
    font-size: 13px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    margin-top: 1.5rem;
}

.attribution a {
    transition: color 0.3s ease;
}

.attribution a:hover {
    color: red;
}

@media (min-width: 350px) and (max-width: 750px) {
    /* Modifications pour les écrans entre 350px et 750px de large */
    
    .container {
        width: 100%; /* Permet à la largeur du container d'être responsive */
        padding: 1rem; /* Ajoute un peu de padding pour l'espacement */
    }

    .header {
        align-items: center;
        transform: translateX(0.2rem);
    }

    #omelette {
        width: 100%; /* Adapte l'image à la largeur de son container */
        margin-top: 1rem; /* Ajuste l'espacement au-dessus de l'image */
        align-self: center;
    }

    h1 {
        font-size: 28px; /* Réduit la taille du titre */
        text-align: center; /* Centre le titre sur l'écran */
    }

    .main {
        margin-left: 1rem; /* Réduit les marges latérales */
        margin-right: 1rem;
    }

    .pinkList ul {
        margin-left: 1.5rem; /* Réduit la marge gauche */
    }

    h3 {
        margin-left: 1.5rem; /* Réduit la marge à gauche */
    }

    .stats {
        flex-direction: column; /* Change la direction de la flexbox pour les petits écrans */
        align-items: center; /* Centre les éléments */
    }

    .info, .quantity, #grams, #protein, #carbs {
        transform: translateX(0); /* Supprime les translations qui décalent ces éléments */
        margin-bottom: 1rem; /* Ajoute un espacement en bas */
    }

    .attribution {
        font-size: 12px; /* Réduit la taille de la police pour la petite taille d'écran */
        margin-top: 1rem; /* Réduit l'espacement au-dessus de la section attribution */
    }
}
